@font-face {
	font-family: "Pretendard";
	src: url("@/assets/fonts/PretendardVariable.woff2") format("woff2-variations");
	font-weight: 45 920;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Jalnan 2";
	src: url("@/assets/fonts/Jalnan2TTF.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
